*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: aquamarine;
}
.clock{
    background-color: cornflowerblue;
    height: 300px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    font-weight: 600px;
    gap: 70px;
}
span{
    font-size: 70px;
}
